.board {
    width: 1024px;
    height: 1024px;
    border: 2px solid black;
    /* display: flex; */
} 

.cell {
    width: 128px;
    height: 128px;
    float: left;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.cell_left {
    width: 32px;
    height: 128px;
    border: 1px solid black;
}